body{
    background-color: lightyellow;
    text-align: center;
}
h1 {
    color: rgb(126, 6, 6);
}
table{
    margin: auto;
   table-layout: fixed;
}
td{
    cursor: pointer;
    width: 100px;
    height: 100px;
}