body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: url('../img/eberhard-grossgasteiger-UqzFrPGKN0g-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
}

h1 {
    color: rgb(126, 6, 6);
}

table {
    border: solid 4px rgb(0 0 0 / 88%);
    height: 250px;
    width: 250px;
    margin: auto;
    table-layout: fixed;
    position: relative;
}

td {
    border: solid 2px rgb(0 0 0 / 88%);
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    color:#cc1e01;
}

td:hover {
    background-color: darkgray;
    color: rgb(0 0 0 / 88%);
}

.restart {
    background-color: rgba(126, 6, 6, 0);
    width: 81px;
    height: 28px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: solid 2px;
    cursor: pointer;
}

.timer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 10px;
}

.live {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 10px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(126, 6, 6, 0);
    width: 200px;
    height: 80px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    color: rgb(0 0 0 / 88%);
    cursor: pointer;
}

button:hover {
    background-color: cornsilk;
    transition: 0.4s;
    transform: scale(1.2);
}

.restart:hover{
    background-color: cornsilk;
    transition: 0.4s;
    transform: scale(1.4);
}